@import url("https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap");

#root {
  font-family: "Sono", sans-serif;
  --textColor: aliceblue;
  --orange:  #FF7B54;
  --oryellow:#FFB26B;
  --yellow:#FFD56F;
  --green: #939B62;
}
@viewport{
  width: 1440px;
  height: 900px;
}